html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, #222 541px, #ffff 0%);
}

.container-header {
  width: 95%;
  margin: 0 auto;
}

header {
  background: linear-gradient(110deg, #fdcd3b 30%, #ffed4b 0%);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  float: left;
  margin-left: 0px;
}

nav {
  text-transform: uppercase;
}
nav ul {
  margin: 0px 175px;
  padding: 0;
  float: right;
  list-style: none;
}

nav ul li {
  font-size: 18px;
  margin: 35px 0px 5px 40px;
  line-height: 40px;
  display: inline-block;
  /*  */
}

#logo li {
  font-size: 24px;
  margin: 17px;
  padding: 5px 10px 5px;
  /* border-radius: 10px; */
  border: 4px solid #222;
  /* background-color: #f5a302; */
}

nav a {
  /* line-height: 40px; */
  color: #222;
  padding: 15px 20px;
  text-decoration: none;
}

nav a:hover {
  color: whitesmoke;
  background-color: #1e2329;
  transition: all ease-in 250ms;
}

.content {
  width: 70%;
  padding-top: 150px;
  margin: 0 auto;
  display: table;
  border-collapse: separate;
  border-spacing: 40px;
}

.box {
  align-items: center;
  margin: 10px;
  padding: 5px;
  display: table-cell;
  border-radius: 3%;
  /* vertical-align: middle; */
  background-color: #ffff;
  max-width: 395px;
  /* height: 300px; */
  max-height: 420px;
  box-shadow: 5px 10px 8px #888888;
  transition: box-shadow 0.25s;
}

.box:hover {
  box-shadow: 5px 10px 8px #222;
}

.box h1 {
  padding-left: 25px;
}

.box p {
  margin: 0px 14px;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

.box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
  padding: 18px 0px 50px;
}

.float-icon {
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 50%;
  background: #386cb9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 60px;
  bottom: 80px;
  transition: background 0.25s;
  cursor: pointer;
}

.float-icon:focus {
  outline: none;
}

.float-icon:active {
  background: #174793;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 0px;
  background-color: #fcc100;
}

footer hr {
  width: 95%;
  border-top: 1px solid #1e2329;
}

footer p {
  margin: 0 auto;
  width: 75%;
  letter-spacing: -1px;
  opacity: 75%;
  text-align: center;
}
